.row-header {
    margin: 0 auto;
    padding: 0 auto;
}

.row-content {
    margin: 0 auto;
    padding: 5px 0 50px 0;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: #d1c4e9;
    margin: 0 auto;
    padding: 20px 0 20px 0;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0 auto;
    background: #9575CD;
    color: floralwhite;
}

.address {
    font-size: 80%;
    margin: 0;
    color: #0f0f0f;
}

body {
    padding: 50px 0 0 0;
    z-index: 0;
}

.navbar-inverse {
    background-color: #512DA8;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.card {
    margin-bottom: 10px;
}

.carousel {
    background: #512DA8;
}

.carousel-item {
    height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.carousel-caption {
    bottom: 30%;
}

#carousel-button {
    position: absolute;
    right: 0px;
    bottom: 0px;
}